{% extends 'base.html.twig' %}

{% block title %}Terrassement{% endblock %}

{% block body %}

    {% for unePresta in prestas %}
        
        {% if id == unePresta.id %}

            {% if app.user.email != "loreinthierry@gmail.com" %}

                <div class="detailPrestaBody">
                    <h1>{{unePresta.titre}}</h1>

                    <p>{{unePresta.getDescriPresta()}}</p>
                    <p>{{unePresta.getTarif()}} €/m2</p>

                    <img src="../{{unePresta.lienImg}}">

                </div>

            {% else %}

                <div class="detailPrestaBody">
                    <h1>{{unePresta.titre}}</h1>

                    <p>{{unePresta.getDescriPresta()}}</p>
                    <p>{{unePresta.getTarif()}} €/m2</p>

                    <img src="../{{unePresta.lienImg}}">
                    <p>{{app.user.email}}</p>

                </div>

            {% endif %}

        {% endif %}

    {% endfor %}

{% endblock %}


